.item-card {
  flex: 0 1 calc(20% - 20px);
  margin-bottom: 30px;
  padding: 10px;

  display: flex;
}

.item-card:not(:last-child) {
  margin-right: 20px;
}

.item-card:hover {
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.3);
  box-shadow: 0 1px 6px rgba(0,0,0,.3);
  cursor: pointer;
}

.item-card-url-wrapper {
  display: flex;
  flex-direction: column;
  color: black;
}

.item-card-url-wrapper:hover {
  text-decoration: none;
  color: black;
}

.item-card-img-responsive {
  max-width: 100%;
  max-height: 180px;
  height: 100%;
  /* height: auto; */
}

.item-card-title {
  flex: 1;
  max-height: 6em;  /* max height to 4 line (1 line is 1.5em)*/
  overflow: hidden;
}

.item-card-company-rating {
  display: flex;
  justify-content: space-between;
}

.price-line {
  color: #ff330c;
}

.price {
  font-size: 18px;
  margin-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.addItemButtonContainer{
  margin-bottom: 10px;
}

.addItemButton{
  color: white;
  background-color: #1877f2;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor:pointer;
  outline: none;
}

.addItemButton:hover{
  background-color: #8bb5eb;
}

.addItemButton:focus{
  outline: none;
}
